.filterbar {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px
}

.filterbar .input-group {
    /* flex: 1;  */
    max-width: 500px; 
    min-width: 250px;
    display: flex;
  }

  .filterbar .input-group input {
    min-width: 100px;
}

  .filterbar button {
    height: 38px; /* Adjust the height to match the search bar and dropdowns */
  }

  @media (max-width: 768px) {
    .filterbar {
        align-items: center; /* Center items horizontally */
    }

    .filterbar .input-group {
        width: 100%; 
    }
}