.img-waterfall-card {
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
    border-radius: 10px
}
.site-header {
    text-align: center;
    margin-bottom: 50px;

}
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0px;
}
.card-waterfall {
    margin: 10px 5px;
}
.image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
}

.waterfall-detail-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.waterfall-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
 .waterfall-btn {
    margin-right: 5px;
 }

.newresource-form {
    margin: 20px;
}

#button-addon2 {
    margin-top: 10px;
}

.form-description {
    height: 100%;
}

h1 {
    margin: 15px;
}