.img-waterfall-card {
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
    border-radius: 10px
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
}

.waterfall-detail-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.waterfall-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
 .waterfall-btn {
    margin-right: 5px;
 }

.waterfall-form {
    margin: 20px;
}

#button-addon2 {
    margin-top: 10px;
}

.form-description {
    height: 100%;
}

h1 {
    margin: 15px;
}